
.dataNumber1{
  font-size: 1.5rem  ;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 2px;
  padding: 12px;
  border-radius: 10px;
  border-width: px;
  border-color: black;
  border-style: solid;
  font-weight: bold;
  background-color:orange;
}

.dataNumber2{
  font-size: 1.5rem  ;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 2px;
  padding: 12px;
  border-radius: 10px;
  border-width: px;
  border-color: black;
  border-style: solid;
  font-weight: bold;
  background-color:rgba(218, 7, 7, 0.856);
}


.dataNumber3{
  font-size: 1.5rem  ;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 2px;
  padding: 12px;
  border-radius: 10px;
  border-width: px;
  border-color: black;
  border-style: solid;
  font-weight: bold;
  background-color:greenyellow;

}
.kotak{
  display: flex;
  align-items: left;
  justify-content: left;

}
.kotak2{
  float: left;
  display: flex;
 
}

